#canvasCont {
    position: absolute;
}

#board {
    z-index: 100;
    position:absolute;
    left:0px;
    top:50px;
}

#gamearea {
    z-index: 200;
    position:absolute;
    left:0px;
    top:50px;
}


#output {
	top: 510px;
	position: absolute;
	left: 10px;
}

#title {
	height:20px;
}

#github{
	display: none;
}